html {
  font-size: 22px;
  line-height: 1.6;
  font-family: $sans-serif;
  color: $text-dark;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: $text-dark;
  font-weight: bold;
}

h1 {
  font-size: $font-size-4;
}

h2 {
  font-size: $font-size-3;
}

h3 {
  font-size: $font-size-2;
}

h4 {
  font-size: $font-size-1;
}

p {
  font-size: $font-size-1;
  color: $text-dark;
}
