// ===================
// Default Font Stacks
// ===================

$system-font: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
$sans-serif: $system-font;

$body-font: $sans-serif;


// ==========
// Font Scale
// ==========
$font-size-0: 0.75rem;
$font-size-1: 1rem;
$font-size-2: 1.333rem;
$font-size-3: 1.777rem;
$font-size-4: 2.369rem;
$font-size-5: 3.157rem;
$font-size-6: 4.209rem;
